body {
  margin: 0vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 96.5vh;
}

/* ------------------- Menu/Navigation Bar ------------------------ */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #737373;
  height: 3.5vh;
}
.option {
  color: #666;
  padding: .5vw;
}
.option a{
  color: #666;
  padding: .5vw;
  text-decoration: none;  /*Get rid of hyperlink blue outline*/
}
.option:hover {     /*When Cursor Hovers it will highlight option*/
  background-color: #ddd;
}

/* -------------------------------------------------------------- */

/* -------------------- Container 2 (Message & Graph) --------------------- */

.container2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  height: 100%;
  flex: 1 0 65%;
  order: 1;
}

    /* -------------------- Graph Display Area --------------------- */

    .container2 > .graph-display {
      flex-direction: row;
      justify-content: flex-start;
      border: 1px solid #737373;
      order: 1;
      flex: 1 0 65%;  /*  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
      height:60%;
    }

    /* -------------------------------------------------------------- */
  
    /* -------------------- Message Area --------------------- */

    .container2 > .message {
      flex-direction: row;
      justify-content: flex-start;
      border: 1px solid #737373;
      order: 2;
      flex: 1 0 65%;  /*  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
      height: 40%;
    }

    /* -------------------------------------------------------------- */

/* ------------------ End of Container 2 ------------------------------*/

/* -------------------- Data Selection Area --------------------- */

.container > .data-selection {
  flex-direction: column;
  border: 1px solid #737373;
  order: 2;
  flex: 1 0 34%;
  height: 100%;
}

/* -------------------------------------------------------------- */